$background: lighten(red, 40%);
$homepage_content_height: 400px;

body {
	background: $background;

	.home-page-content {
		height: $homepage_content_height;
		display: flex;
		justify-content: center;
		align-items: center;

		.home-page-content-title {
			text-align: center;
		}
	}
	
}